body {
    background-color: burlywood;
    width: 60%;
    margin: auto;
} 
h1 { 
    text-align: center;
}

img {
    display: inline;
    text-align: center;
    height: auto;
    width: auto;
}
.image {
    text-align: center;
}
ul{
    font-size: 24px;
}
ol{
    font-size: 24px;
}
article {
    font-size: 24px;
}
#back-to-home:hover {
font-size: 36px;
transition: 0.7s;
}
p{
    text-align: center;
}
