body {
    background-color: burlywood;
} 

img {
    display: inline;
    text-align: center;
    height: auto;
    width: auto;
}
.image {
    text-align: center;
}
ul{
    font-size: 24px;
}
ol{
    font-size: 24px;
}
article {
    font-size: 24px;
}
#back-to-home:hover {
font-size: 36px;
transition: 0.7s;
}