body{
    background-color: burlywood;
    width: 70%;
    margin: auto;
    min-width: 300px;
}
 
h1 {
    text-align: center;
    
}
.image {
    text-align: center;
}
.recipe {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 24px;
}
.recipe:hover {
    font-size: 36px;
    transition: 0.7s;
    display: inline-block;
}
.list {
    display: flex;
    justify-content: space-around;
}
#bottom {
    font-size: 24px;
    text-align: center;
}
img {
    height: auto;
    width: auto;
}